# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test
.DS_Store
/temp-folders
request.txt
request1.txt
API-Authorization-Guide.md
#/json/*.json
# Output of the go coverage tool, specifically when used with LiteIDE
*.out
*.pdf
*.png
# API meditation policy file
meditation_policy.xml
# executable
selmasme